*{
  margin:0;
  padding:0;
}
body{
  background-color:black;
  color:white;
}
.photo{
  background-color:rgb(33,33,33)
  

}
.photo:hover img{
  transform: rotate(3deg);
  
}

.photo:hover{
  background-color:rgb(55,55,55);
 
  
}
.photo img{
  width: 250px;
  height: 250px;
}
.small-box li{
  list-style-type: none;
  cursor: pointer;  
  margin-block-start: 10px;
}
a{
  text-decoration: none;
  
}
a i {
  color: white;
}

.grid-black h1:hover{
 color:yellow;
 cursor: pointer;
}
.project{
  border: 2px solid red;
  animation: borderRotate 3s linear infinite;
}
@keyframes borderRotate {
  0% {
    border-color: red;
    /* transform: rotate(0deg); */
  }
  25% {
    border-color: blue;
    /* transform: rotate(90deg); */
  }
  50% {
    border-color: green;
    /* transform: rotate(180deg); */
  }
  75% {
    border-color: yellow;
    /* transform: rotate(270deg); */
  }
  100% {
    border-color: red;
    /* transform: rotate(360deg); */
  }
}

.prize-box img{
  height: 140px;
  width:200px;
}

.prize-box{
  background-color: rgb(33,33,33);
}
.prize-box:hover{
  background-color: rgb(66,66,66);
}
a{
  color: yellow;
  cursor: pointer;
}
.education{
  width:35vw;
  
}
.about{
  background-color:rgb(33,33,33) ;
}
.name{
  color: white;
}